<mat-card>
    <mat-card-content>
        <div class="text-center">
            <img src="../../../assets/images/Pikachu.png" alt="" width="40" height="40" (click)="card">
            <img src="../../../assets/images/banner.png" alt="" width="100" height="40" (click)="card">
                    &nbsp; !!! Pokemons App ~ The Adventure !!! &nbsp;
            <img src="../../../assets/images/banner.png" alt="" width="100" height="40" (click)="card">
        </div>
    </mat-card-content>
</mat-card>