<div class="container">
  <table class="table table-sm table-striped-columns text-center">
    <thead>
      <tr>
        <th colspan="4">Pokemons List</th>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let poke of GlobalListPokemon; let i = index">
        <th scope="row"> {{i+1}} </th>
        <td> {{poke.name}} </td>
        <td><span class="mx-auto">{{poke.url}}</span></td>
        <td><button class="btn btn-outline-dark d-grid gap-2 col-6 mx-auto" (click)="goCard(i)">Details ~ Card</button> </td>
      </tr>
  </table>
</div>