<div class="card-pokemon">
    <article class="card">
        <img src="../../../assets/images/bg-pattern-card.svg" alt="imagen header card" class="card-header">
        <div class="card-body">
            <img alt="imagen de pokemon" class="card-body-img" src="{{pokemonData[0].img}}">
            <h1 class="card-body-title"> {{pokemonData[0].name}} </h1>
            <!-- <h5 class="card-body-title">Abilities: <span class="card-body-text">London</span> </h5> -->
        </div>
        <div class="card-footer">
            <div class="card-footer-social">
                <h3>{{pokemonData[0].attack}}k</h3>
                <p>Attack</p>
            </div>
            <div class="card-footer-social">
                <h3>{{pokemonData[0].speciality}}k</h3>
                <p>Speciality</p>
            </div>
            <div class="card-footer-social">
                <h3>{{pokemonData[0].defency}}k</h3>
                <p>Deffency</p>
            </div>
        </div>
    </article>    
</div>
