/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$deep-purple-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);


:root {
    --dark-cyan: hsl(266, 49%, 76%);
    --very-dark-desaturated: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
  }
  
  html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 62.5%;
  }
  
  *, *:before, *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  
  body {
    position: relative;
    padding-bottom: 5rem;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--dark-cyan);
    background-image: url("../src/assets/images/bg-pattern-bottom.svg"), url("../src/assets/images/bg-pattern-bottom.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  }
  
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
  }

  .card-pokemon {
    display: grid;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  
  .card {
    background-color: white;
    width: 326px;
    margin-left: 600px;
    margin: auto;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  .card-header {
    width: 100%;
    display: block;
  }
  
  .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(153, 153, 153, 0.383);
  }
  
  .card-body-img {
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 50%;
    margin-top: calc(-48px - 5px);
    background-color: white;
  }
  
  .card-body-title {
    margin-top: 1rem;
    font-size: 1.8rem;
    text-transform: capitalize;
  }
  
  .card-body-title span {
    color: var(--dark-gray);
    font-weight: 200;
  }
  
  .card-body-text {
    color: var(--dark-gray);
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  .card-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  
  .card-footer-social {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  
  .card-footer-social p {
    letter-spacing: 1px;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    text-align: center;
  }
